.navigation {
  list-style: none;
  margin: 0;
  /* background: grey; */
  background: whitesmoke;

  display: flex;
  font-weight: bold;
  padding-inline-start: 0px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}
.navigation a:hover {
  background: rgb(73, 73, 73);
  color: white;
}

.navigation .active {
  background: black;
  color: white;
}

.container {
  background: whitesmoke;
  min-height: 800px;
}

.text-inside {
  padding: 30px;
  text-align: justify;
}

.nav-search {
  position: relative;

  width: 100%;
  text-align: right;
  margin-top: 4.5px;
  margin-right: 10px;
}

.circular:hover {
  opacity: 1;
  background: darkgrey;
}

/* .main-background {
  position: relative;
  width: 100%;
}

.background-text-block {
  position: absolute;
  opacity: 60%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

.ui.icon.input > i.icon {
  left: 0;
}

.ui.icon.input > input {
  padding-left: 2.67em;
}

.ui.input > input {
  border-radius: 20px;
}

.circular.icon {
  position: absolute;
  opacity: 0.5;
  box-shadow: none !important;
  font-size: 1em;
  top: 5px;
  right: 2px;
}
